<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" id="cityDateForm">
                <label for="whereData">What city will you be going to?</label>
                <input id="where" type="text" name="whereData" value=""
                    placeholder="Enter the city name or abbreviation...">
                <label for="whenData">When will you be going?</label>
                <input id="when" type="date" name="whenData" value="">
                <button id="submit" type="submit">Submit</button>
            </form>
        </section>
        <section id="cityResults" class="hide">
            <label>Confirm your desired city</label>
            <table id="resultsTable" class="spread-table">
                <thead>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                </thead>
                <tbody id="resultsTableBody">

                </tbody>
            </table>
            <button id="acceptCitySelection">Next</button>
        </section>
        <div class="cardsDiv hide" id="cardsDiv"></div>
    </main>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>